/*
Base
*/

*,
::before,
::after {
  box-sizing: border-box;
}

:where(:root) {
  line-height: 1.5;
  font-weight: 400;

  color: #213547;
  background-color: #ffffff;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

:where(body) {
  margin: 0;
}

:where(#root) {
  margin: 0;
  min-width: 320px;
  min-height: 100svh;
}

:where(a) {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
:where(a:hover) {
  color: #747bff;
}

/*
Components
*/

.button {
  padding: 0.625rem 0.875rem;
  color: #444d68;
  background-color: #fff;
  border: 1px solid #f0f0f0;
  box-shadow: 0 1px 2px rgb(0, 0, 0, 0.05);
  border-radius: 0.625rem;
  font-size: 0.875rem;
  font-weight: 600;
  transition: 0.2s;
  transition-property: color, background-color, border-color, box-shadow;
  cursor: pointer;
}
.button:focus {
  outline: none;
}
.button:hover,
.button:focus-visible {
  background-color: #f0f0f0;
}
.button[aria-pressed="true"] {
  color: #fff;
  border-color: #2e578c;
  background-color: #2e578c;
}

.toolbar {
  display: flex;
  padding: 0.75rem 1rem;
  gap: 0.5rem;
  border-bottom: 1px solid #ddd;
}
