/*
Base
*/

*,
::before,
::after {
  box-sizing: border-box;
}

:where(:root) {
  line-height: 1.5;
  font-weight: 400;

  color: #213547;
  background-color: #ffffff;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

:where(body) {
  margin: 0;
}

:where(#root) {
  margin: 0;
}

:where(a) {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}

:where(a:hover) {
  color: #747bff;
}

:where(button:enabled) {
  cursor: pointer;
}

:where(button:disabled) {
  cursor: default;
}

/*
Components
*/

.app {
  display: flex;
  min-width: 320px;
  min-height: 100svh;
}

.button {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  color: #444d68;
  background-color: #fff;
  border: 0;
  border-radius: 0.75rem;
  font-size: 0.875rem;
  font-weight: 600;
  transition: 0.15s;
  transition-property: color, background-color, opacity;
}

.button[aria-pressed="true"] {
  color: #2e578c;
  background-color: #dee8f4;
}

.button:focus {
  outline: none;
}

.button:enabled:hover,
.button:enabled:focus-visible {
  background-color: #f0f0f0;
}

.button:disabled {
  opacity: 0.5;
}

.number-field {
  appearance: textfield;
  padding: 0.25rem;
  text-align: center;
  border-radius: 0.5rem;
  background-color: #fff;
  border: 2px solid #ddd;
  transition: box-shadow 0.15s;
}

.number-field::-webkit-outer-spin-button,
.number-field::-webkit-inner-spin-button {
  -webkit-appearance: none;
}

.number-field[type="number"] {
  -moz-appearance: textfield;
}

.number-field:focus {
  outline: none;
}

.number-field:hover,
.number-field:focus-visible {
  box-shadow: 0 0 0 2px rgb(46 87 140 / 0.25);
}

.color-picker {
  appearance: none;
  background-color: transparent;
  border: none;
  cursor: pointer;
  border-radius: 0.5rem;
  transition: box-shadow 0.15s;
  border: solid #ddd;
  border-width: 1px 0px;
}

.color-picker::-webkit-color-swatch-wrapper {
  padding: 0;
  margin: 0;
  border: 0;
  border-radius: 0.375rem;
  outline: 2px solid #ddd;
}

.color-picker::-webkit-color-swatch {
  border: 0;
  border-radius: 0.25rem;
}

.color-picker:focus {
  outline: none;
}

.color-picker:hover,
.color-picker:focus-visible {
  box-shadow: 0 0 0 2px rgb(46 87 140 / 0.25);
}

.toolbar {
  position: fixed;
  z-index: 10;
  top: 12.5rem;
  left: 1.5rem;
  background: #fff;
  border-radius: 0.875rem;
  box-shadow:
    0 0 0 1px rgb(0, 0, 0, 0.05),
    0 2px 4px 2px rgb(0, 0, 0, 0.05);
  width: 3.5rem;
  padding: 0.625rem;
}

.toolbar-tools {
  display: flex;
  flex-direction: column;
  gap: 0.75rem;
}

.toolbar-controls {
  display: flex;
  flex-direction: column;
  gap: 0.75rem;
  padding: 0.5em 0;
}

.toolbar-actions {
  display: flex;
  flex-direction: column;
}

.toolbar-separator {
  width: 100%;
  height: 1px;
  background-color: #ddd;
  margin: 0.75rem 0;
}

.toolbar-button {
  width: 100%;
  aspect-ratio: 1;
}

.toolbar-field,
.toolbar-color-picker {
  width: 100%;
  height: 1.75rem;
}
